<h1>Goodbye!</h1>
<p>
  It was nice having you here! Hope to see you again soon!
</p>

<p>
  Say <%= link_to "Hello", say_hello_path %>!
</p>


<h5>Playtime</h5>
<p>Addition: <%= @math %></p>
<p>Concatenation: <%= @concatenation %></p>
<p>Time in one hour: <%= @time_in_one_hour %></p>
